body{
margin:0;
font-family:'Poppins',sans-serif;
background:#fff4e6;
}

header{
background:#ff8c42;
color:white;
padding:15px;
text-align:center;
}

.dashboard{
display:flex;
height:90vh;
}

#map{
flex:3;
height:100%;
}

.panel{
flex:1;
background:white;
padding:20px;
overflow-y:auto;
box-shadow:-3px 0 15px rgba(0,0,0,0.1);
}

button{
display:block;
width:100%;
margin:8px 0;
padding:12px;
border:none;
border-radius:8px;
background:#ff8c42;
color:white;
font-size:15px;
cursor:pointer;
}

button:hover{
background:#ff7a24;
}

textarea{
width:100%;
height:80px;
padding:10px;
border-radius:8px;
border:1px solid #ddd;
}

.telemetry div{
margin:6px 0;
}

.altimeter{
width:100%;
height:15px;
background:#eee;
border-radius:10px;
margin-top:10px;
overflow:hidden;
}

#altitudeBar{
height:100%;
width:10%;
background:#ff8c42;
}

.popup{
position:fixed;
bottom:20px;
right:20px;
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
width:250px;
}

.hidden{
display:none;
}

/* MOBILE RESPONSIVE */

@media(max-width:900px){

.dashboard{
flex-direction:column;
}

#map{
height:60vh;
}

.panel{
height:40vh;
}

}
#map{
width:100%;
height:60vh;
}

@media (max-width:430px){

.dashboard{
flex-direction:column;
}

#map{
height:55vh;
}

.panel{
height:45vh;
overflow-y:auto;
}

button{
font-size:16px;
padding:14px;
}

}